<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_style.css') }}">
    <title>WMG Teaching Support System</title>
</head>
<body>

<form method="POST">
    <label for="topic">Topic:</label><br>
    <!-- Meet requirement character max length for a question. -->
    <textarea style="width:300px; height:150px;" id="topic" name="topic" maxlength="256"></textarea><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
