<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static',filename='resources/custom_logo.png') }}">
    <title>WMGTSS</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css_test.css') }}">
</head>
<body>
<div class="heading_div">
    <p class="heading_paragraph">Q&A Board</p>
</div>
<div class="sorter_div">
    <!-- The initial button is set to "Oldest". This is because it is assumed that the oldest question will want to be
    seen first. This encourages a FIFO approach to the Q&A board, and old questions will not be buried under new
    ones. -->
    <button id="initial_button" class="sorter_button" type="button">Oldest</button>
    <button class="sorter_button" type="button">Newest</button>
    <button class="sorter_button" type="button">Most Liked</button>
    <button class="sorter_button" type="button">Least Liked</button>
    <button class="sorter_button" type="button">Your Questions</button>
    <button class="sorter_button" type="button">Your Liked Questions</button>
</div>
<div>

</div>
</body>
</html>
