<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_style.css') }}">
    <title>WMG Teaching Support System</title>
</head>
<body>

<form method="POST">
    <label for="username">Username:</label><br>
    <!-- Max length put on username and password. -->
    <input type="text" id="username" name="username" maxlength="20"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" maxlength="40">
    <br><br>
    <input type="submit" value="Submit">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>
