<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qa_home_style.css') }}">
    <title>WMG Teacher Support System</title>
</head>
<body>
<form method="POST">
    <p>Username:</p>
    <input type="text" name="username">
    <p>Password:</p>
    <input type="text" name="password">
    <button type="submit">Submit</button>
</form>
</body>
</html>