<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_style.css') }}">
    <title>WMG Teaching Support System</title>
</head>
<body>

<!-- Heading -->
<div class="heading_div">
    <p class="heading_paragraph">{{qanda_board.topic}} Q&A</p>
</div>

<!-- Sorter Buttons -->
<div class="sorter_div">
    <button id="initial_button" class="sorter_button" type="button">Oldest</button>
    <button class="sorter_button" type="button">Newest</button>
    <button class="sorter_button" type="button">Most Liked</button>
    <button class="sorter_button" type="button">Least Liked</button>
    <button class="sorter_button" type="button">Your Questions</button>
    <button class="sorter_button" type="button">Your Liked Questions</button>
</div>

<!-- Question List -->
{% for question in questions %}
<div class="question_div">

    <div class="like_box">
        <input class="like_button" type="image" src="{{ url_for('static',filename='resources/unliked_triangle_small.png') }}" width="40" height="40"/>
        <p class="like_paragraph">Like</p>
        <p class="like_counter">{{question.number_of_likes }}</p>
    </div>

    <div class="question_asker_box">
        <p class="question_name">{{question.question}}</p>
        <p class="asker">Asked by {{question.asker}} on {{question.date}}.</p>
    </div>

    <div class="button_box">
        <form action="/{{question.qanda_board_id}}/{{question.question_id}}/answer/">
            <!-- If there is no answer, then colour the button grey. -->
            {% if question.answer == "" %}
                <button class="answer_button">Answer...</button>
            {% else %}
            <!-- If there is an answer, then colour it blue. -->
                <button class="answered_button">Answer...</button>
            {% endif %}
        </form>
        <button class="comment_button">{{question.number_of_comments}} comments...</button>
        <form action="/{{question.qanda_board_id}}/{{question.question_id}}/delete/">
            <button class="delete_button">Delete</button>
        </form>
    </div>

</div>
{% endfor %}

<!-- Footer -->
<div class="footer">
    <form method="GET" action="/qanda_board_select/">
        <button type="submit" class="back_button">Back to Q&A select...</button>
    </form>
    <form method="GET" action="{{ url_for('ask_question', qanda_board_id=qanda_board.qanda_board_id) }}">
        <button type="submit" class="ask_button">Ask a question...</button>
    </form>
</div>

</body>
</html>
