<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_select_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/lh_style.css') }}">
    <title>WMG Teaching Support System</title>
</head>
<body>

{% for qanda_board in qanda_boards %}
<div class="question_div">
    <p>Topic: {{ qanda_board.name }} </p>
    <p>Creator: {{ qanda_board.creator }} </p>
    <form method="GET" action="/{{ qanda_board.qanda_board_id }}">
        <button type="submit" class="answer_button"> Select </button>
    </form>
    <form>
        <button class="delete_button">Delete</button>
    </form>
</div>
{% endfor %}

<div class="footer">
    <form method="GET" action="/home">
        <button type="submit" class="back_button">Back to home...</button>
    </form>
    <form>
        <button type="submit" class="ask_button">Create a Q&A...</button>
    </form>
</div>

</body>
</html>
