<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='resources/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/qanda_board_style.css') }}">
    <title>WMG Teaching Support System</title>
</head>
<body>

<!-- Heading -->
<div class="heading_div">
    <p class="heading_paragraph">{{ qanda_board.name }} Q&A</p>
</div>

<!-- Sorter Buttons -->
<div class="sorter_div">
    <button id="initial_button" class="sorter_button" type="button">Oldest</button>
    <button class="sorter_button" type="button">Newest</button>
    <button class="sorter_button" type="button">Most Liked</button>
    <button class="sorter_button" type="button">Least Liked</button>
    <button class="sorter_button" type="button">Your Questions</button>
    <button class="sorter_button" type="button">Your Liked Questions</button>
</div>

<!-- Question List -->
{% for question in questions %}
<div class="question_div">
    <input class="like_button" type="image" src="{{ url_for('static',filename='resources/unliked_triangle.png') }}" width="40" height="40"/>
    <p class="like_paragraph">Like</p>
    <p class="like_counter">{{question.number_of_likes }}</p>
    <p class="question_name">{{ question.name }}</p>
    <p class="asker"> Asked by {{ question.asker }} on {{question.date}}</p>
    <button class="answer_button">Answer...</button>
    <button class="comment_button">{{question.number_of_comments}} comments...</button>
    <button class="delete_button">Delete</button>
</div>
{% endfor %}

<!-- Footer -->
<div class="footer">
    <form method="GET" action="/qanda_board_select">
        <button type="submit" class="back_button">Back to board select...</button>
    </form>
    <form method="GET" action="/ask_question">
        <button type="submit" class="ask_button">Ask a question...</button>
    </form>
</div>

</body>
</html>
