body {
    background-color: #E0E0E0;
    font-family: "Verdana";
    margin: 0px;
}

.heading_div {
    background-color: #4D79A2;
    border-style: solid;
    border-width: 2px;
    padding: 16px;
}

.heading_paragraph {
    background-color: #FFF;
    border-style: solid;
    border-width: 2px;
    font-size: 48px;
    margin: 0px;
    padding: 8px;
    text-align: center;
}

.sorter_div {
    background-color: #FFF;
    border-style: solid;
    border-width: 2px;
    margin: 16px;
}

#initial_button{
    background-color: #4D79A2;
}

.sorter_button {
    background-color: #747576;
    border-color: #000;
    border-radius: 4px;
    border-style: solid;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: -5px;
    margin-top: 8px;
}
